
@include fontFace('bodoniflfbold_italic','../fonts/bodoniflf-bolditalic-webfont');
@include fontFace('gotham_lightregular','../fonts/gotham-light-webfont');
@include fontFace('gotham_boldregular','../fonts/gotham-bold-webfont');
@include fontFace('gotham_mediumregular','../fonts/gotham-medium-webfont');

lsf-button-float {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 12px;
    transition: box-shadow .5s;
}

lsf-button-float:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
    transition: box-shadow .5s;
}

lsf-button-float > i {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 24px;
    height: 24px;
}

lsf-button-float > i:before {
    font-size: 24px;
}

[whiteIcon="enabled"] > i:before,
[whiteText] {
    color: white;
}

lsf-button {
    font-family: "gotham_lightregular","Roboto";
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-top: 5.5px;
}

lsf-button:hover {
    background: "palette-" attr(color);
}

lsf-button-flat {
    font-family: "gotham_lightregular","Roboto";
    height: 32px;
    display: inline-block;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding-top: 5.5px
}

lsf-card {
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background-color: white;
    box-sizing: border-box;
    min-height: 50px;
    min-width: 100px;
    display: inline-block;
}

lsf-card > .content,
lsf-modal-dialog > .content {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

lsf-card > .content > .rich-media {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 0;
    margin: 0;
}

lsf-card > .content > h1,
lsf-card > .content > h2 {
    font-size: 24px;
    font-family: "gotham_lightregular","Roboto";
    font-weight: bold;
    padding: 16px;
    padding-top: 18px;
    padding-bottom: 0;
    color: #212121;
    line-height: normal;
    margin: 0;
}

lsf-card > .content > h2 {
    font-size: 14px;
    color: #616161;
    padding-top: 8px;
    text-align: justify;
}

lsf-card > .content > .actions-container,
lsf-modal-dialog > .content > .actions-container {
    padding: 8px;
}

lsf-modal {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    margin: 0;
    display:none;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
}

lsf-modal-dialog {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    position: absolute;
    left:0;
    right:0;
    top:0;
    margin: auto;
    box-sizing: border-box;
}

lsf-modal-dialog > .content > h1 {
    padding: 24px;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: "gotham_mediumregular","Roboto";
    color: #212121;
    margin: 0;
    font-weight: normal;
}

lsf-modal-dialog > .content > p {
    padding: 24px;
    padding-top: 10px;
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin:0;
    text-align: justify;
    font-family: "gotham_lightregular","Roboto";
    font-weight: 600;
}
lsf-modal-dialog > .content > .actions-container{
    text-align: right;
}

lsf-workspace{
    /*position: relative;*/
}
lsf-keyboard{
    z-index: 1000;
    border: 1px solid gray;
    border-radius: 2px;
    position: absolute;
    color: #212121;
    background-color: white;
    border-radius: 2px;
    width: 500px;
    left: 200px;
    top: 50px;
    .lsf_normal_layout, .lsf_special_layout{
        display: flex;
        flex-wrap: wrap;
        .key-button{
            padding: 10px;
            border: 1px solid #EFEFEF;
            display: inline-block;
            flex-grow: 1;
            width: 10%;

            text-align: center;
            cursor: pointer;
            border-collapse: collapse;
        }
    }
    .lsf_special_layout{
        display: none;
    }
}

lsf-tabs {}

lsf-tab {}

lsf-switch {}

lsf-notification {}
